<% layout("layouts/boilerplate") %>
<body>
  <form class="needs-validation" novalidate method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Handle</label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          required />
      </div>
    </div>

    <div class="mb-3">
      <label for="displayname" class="form-label">Anzeigename</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="displayname"
          name="displayname"
          required />
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">E-Mail</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Passwort</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
